<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Perak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tempat Menarik Di Perak</ion-card-subtitle>
      <ion-card-title><b>This Is Perak</b></ion-card-title>
    </ion-card-header>
  
    <img src="assets/PP.jpg">
    <ion-card-content>
      <b>1. Pulau Pangkor</b>
      <br>
      Salah satu lokasinya adalah di pantai berdekatan dengan Pangkor Laut Resort. Destinasi penginapan bertaraf 5 bintang ini memang sangat ideal untuk anda jadikan sebagai tempat berbulan madu di Perak. Selain mempunyai pilihan penginapan yang menarik seperti villa mewah di atas air, destinasi ini juga mempunyai pesisiran pantai yang sangat bersih & pasir pantai yang putih. Pelancong yang pentingkan ketenangan & inginkan percutian yang lebih privasi di pantai, sangat disyorkan untuk menginap di Pangkor Laut Resort.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    
  
    <ion-card>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoreply="autoreply"
      webkit-playsinline="webkit-playsinline"
      class="videoplayer">
      <source src="assets/PI.mp4" type="video/mp4">
    </video>
    </ion-card>
  </ion-card>
  
  
    

</ion-content>
