<ion-header>
  <ion-toolbar color="red">
    <ion-title>Jerung Merah</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="ion-text-center">
  <img src="assets/JM.jpg" width=30%>
  

</p>
<ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-button [routerLink]="['/lab8']" expand="full" fill="solid">
        <ion-icon slot="end" name="school-outline"></ion-icon>
        Progrm
      </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand= "full" fill="outline">
          <ion-icon slot="end" name="skull-outline"></ion-icon>
          ContUs
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand= "full" fill="outline">
          <ion-icon slot="end" name="body-outline"></ion-icon>
          JoinUs
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button expand= "full" fill="solid">
          <ion-icon slot="end" name="woman-outline"></ion-icon>
          GnuBoh
        </ion-button>
      </ion-col>
    
  </ion-row>
</ion-grid>
</ion-content>


<ion-footer>
  <ion-toolbar color="success" class="ion-text-center">
  <ion-title>copyright @2021</ion-title>
</ion-toolbar>
</ion-footer>