<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Terengganu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tempat Menarik Di Terengganu</ion-card-subtitle>
      <ion-card-title><b>This Is Terengganu</b></ion-card-title>
    </ion-card-header>
  
    <img src="assets/PBK.jpg">
    <ion-card-content>
      <b>1. Pantai Bukit Kluang</b>
      <br>
      Pantai Bukit Kluang adalah sebuah kawasan pantai indah yang yang turut memiliki guanya sendiri. Di bawah gua ini anda boleh berkelah untuk menikmati udara segar tanpa merasai panahan cahaya mentari.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    
  
    <ion-card>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoreply="autoreply"
      webkit-playsinline="webkit-playsinline"
      class="videoplayer">
      <source src="assets/BKE.mp4" type="video/mp4">
    </video>
    </ion-card>
  </ion-card>
  
  
    

</ion-content>
