<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Selangor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tempat Menarik Di Selangor</ion-card-subtitle>
      <ion-card-title><b>This Is Selangor</b></ion-card-title>
    </ion-card-header>
  
    <img src="assets/PK.jpg">
    <ion-card-content>
      <b>1. Pantai Kelanang</b>
      <br>
      Dikelilingi oleh pokok kasuarina yang menyejukkan pandangan mata, Pantai Kelanang ini agak kurang dilawati yang menjadikan ia sebuah pantai yang tepat untuk dijadikan tempat santai sekiranya anda dan keluarga inginkan ketenangan dalam privasi.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    
  
    <ion-card>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoreply="autoreply"
      webkit-playsinline="webkit-playsinline"
      class="videoplayer">
      <source src="assets/PK.mp4" type="video/mp4">
    </video>
    </ion-card>
  </ion-card>
  
  
  
    

</ion-content>
