<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Kelantan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tempat Menarik Di Kelantan</ion-card-subtitle>
      <ion-card-title><b>This Is Kelantan</b></ion-card-title>
    </ion-card-header>
  
    <img src="assets/PCB.jpg">
    <ion-card-content>
      <b>1. Pantai Cahaya Bulan</b>
      <br>
      Pantai Cahaya Bulan Di Kelantan Tempat Menarik Yang Memukau Untuk Kita Singgah ini sebenarnya antara lokasi pantai yang sangat menarik di Malaysia. Namun begitu ramai dikalangan rakyat Malaysia yang tidak pernah melawat ke Pantai Cahaya Bulan di Kelantan ini. Maka jangan lepaskan peluang jika anda datang ke negeri ini maka pihak redaksi sangat mencadangkan anda untuk dapat singgah kesini untuk melihat dan merasai sendiri suasana di Pantai Cahaya Bulan di Kelantan
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    
  
    <ion-card>
      <video
      width="100%"
      controls="controls"
      preload="metadata"
      autoreply="autoreply"
      webkit-playsinline="webkit-playsinline"
      class="videoplayer">
      <source src="assets/PCB.mp4" type="video/mp4">
    </video>
    </ion-card>
  </ion-card>
  
  
  
    

</ion-content>
